.LogoutRoute-btn {
  background-color: #4f46e5;
  color: white;
  font-weight: bold;
  text-align: center;
  height: 40px;
  width: 180px;
  border: 0;
  border-radius: 8px;
  font-size: 20px;
  font-family: 'roboto';
}

.header-container {
  background-color: #272727;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 0;
  font-family: 'roboto';
  list-style-type: none;
}

.header-icons {
  display: none;
}

.header-links {
  color: white;
  padding: 10px;
  font-weight: 600;
  text-decoration: none;
}

.logout-icon {
  display: none;
}

@media (max-width: 576px) {
  .LogoutRoute-btn {
    display: none;
  }

  .header-links {
    display: none;
  }

  .header-logo {
    width: 100px;
  }

  .header-icons {
    display: block;
    color: white;
    padding: 10px;
    font-size: 22px;
  }

  .header-iconCon {
    display: flex;
  }

  .logout-icon {
    display: block;
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 22px;
  }
}

.hl {
  display: flex;
}
